
@import "~@angular/material/_theming";

@include mat-core();

// Sass function
$app-primary: mat-palette($mat-blue-grey, 500);
$app-secondary: mat-palette($mat-pink, 200);
$app-warn: mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-secondary, $app-warn);
// $app-theme: mat-light-theme();

@include angular-material-theme($app-theme);
